<div class="leftMenu" [ngClass]="{'min':ischeck ,'leftMenu':lang , 'rtl':!lang}" id="left" >
  <div class="logo">
    <h3 class="fas fa-hamburger"><span [ngClass]="{'remo':ischeck}" class="m-4">{{'Sandawitch'|translate}}</span></h3>
  </div>
  <div class="menuItems">
    <ul>
      <li>
        <a href="#">
          <span class="fas fa-align-justify" ></span>
          <span [ngClass]="{'remo':ischeck }"> {{'Dashboard'|translate}} </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fas fa-users"></span>
          <span [ngClass]="{'remo':ischeck}"> {{'Users'|translate}} </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fas fa-shopping-bag" ></span>
          <span [ngClass]="{'remo':ischeck}"> {{'Orders'|translate}} </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fas fa-users" ></span>
          <span [ngClass]="{'remo':ischeck}"> {{'Accounts'|translate}} </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fas fa-igloo" ></span>
          <span [ngClass]="{'remo':ischeck}"> {{'Inventory'|translate}} </span>
        </a>
      </li>
    </ul>

  </div>

</div>
