<!-- <head>
  <title>Admin DashBoard</title>
</head>
<input type="checkbox" id="nav-min"[(ngModel)]="checked">
<app-leftmenu></app-leftmenu>
<div class="body" [ngClass]="{'bod':checked}">

    <app-topbar></app-topbar> -->
  <main>
    <div class="cards">
      <div class="single-card">
        <div>
          <h4>55</h4>
          <span> {{'Customers'|translate}} </span>
        </div>
        <span class="fas fa-shopping-bag"></span>
      </div>

      <div class="single-card">
        <div>
          <h4>15</h4>
          <span> {{'Customers'|translate}} </span>
        </div>
        <span class="fas fa-shopping-bag"></span>
      </div>

      <div class="single-card">
        <div>
          <h4>30</h4>
          <span> {{'Orders'|translate}} </span>
        </div>
        <span class="fas fa-clipboard-list"></span>
      </div>

      <div class="single-card">
        <div>
          <h4>33</h4>
          <span> {{'Users'|translate}} </span>
        </div>
        <span class="fas fa-users"></span>
      </div>
    </div>
  </main>
<!-- </div> -->
